.posts-expand .post {
  margin-top: 2px;
  margin-bottom: 20px;
}

p, ol li {
  margin-top: 2px;
  margin-bottom: 10px;
  line-height: 125%
}

img, video {
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.post-title {
    font-style: italic;
    font-family: Times New Roman;
}
